.footer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  flex-direction: column;
}

@media (min-width: 768px) {
  .footer {
    flex-direction: row;
  }
}

.copyright {
  display: flex;
  gap: 0.5rem;
  align-items: flex-start;
  flex-direction: column;
}

@media (min-width: 768px) {
  .copyright {
    align-items: center;
    flex-direction: row;
  }
}

.version {
  margin-left: auto;
  opacity: 0.75;
}
