.gameWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.boardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  position: relative;
  width: calc(var(--cols) * 60px + 30px);
  height: calc(var(--rows) * 60px + 90px);
}

.front {
  position: absolute;
  top: 60px;
  border: 15px solid hsl(210, 100%, 50%);
  border-radius: 4px;
  width: calc(var(--cols) * 60px + 30px);
  height: calc(var(--rows) * 60px + 30px);
  pointer-events: none;
  background: radial-gradient(
      circle,
      transparent,
      transparent 18px,
      hsl(210, 100%, 50%) 20px,
      hsl(210, 100%, 50%) 23px,
      hsl(210, 100%, 56%) 23px,
      hsl(210, 100%, 56%) 36px,
      hsl(210, 100%, 50%)
    )
    left top/60px 60px;
}

.field {
  position: absolute;
  top: 0;
  left: 15px;
  padding: 75px 0 0 0;
  width: calc(var(--cols) * 60px);
  height: calc(var(--rows) * 60px + 75px);
  overflow: hidden;
  cursor: not-allowed;
}

.grid {
  position: relative;
  display: flex;
  flex-flow: row;
  width: calc(var(--cols) * 60px + 60px);
  height: calc(var(--rows) * 60px + 60px);
}

.column {
  display: flex;
  flex-flow: column-reverse;
  justify-content: flex-start;
  height: calc(var(--rows) * 60px);
  width: 60px;
  border-right: 1px solid hsl(210, 100%, 40%);
  cursor: pointer;
  outline: none;
}

.disc {
  position: relative;
  width: 60px;
  height: 60px;
  top: 0;
  color: var(--player-color, #fff);
  background: radial-gradient(
      circle,
      currentcolor 12px,
      #666 13px,
      currentcolor 14px,
      currentcolor 21px,
      #666 22px,
      transparent 23px,
      transparent
    )
    center/60px;
  pointer-events: none;
  transition: opacity 0.2s;
  animation: slide-in 0.32s cubic-bezier(0.56, 0, 1, 1);

  &.next {
    opacity: 0;
    top: calc((var(--row) * -60px) - 15px);
    animation: none;
  }

  .column:hover &.next,
  .column:focus-visible &.next {
    opacity: 1;
  }

  &.winner {
    animation:
      victory 1s 0.32s cubic-bezier(0.4, 0, 0.6, 1) infinite,
      slide-in 0.32s cubic-bezier(0.56, 0, 1, 1);
  }
}

@keyframes slide-in {
  from {
    top: calc((var(--row, 12) * -60px) - 15px);
  }

  to {
    top: 0;
  }
}

@keyframes victory {
  50% {
    opacity: 0.2;
  }
}
