html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

.appWrapper {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-height: 100%;

  .appMain {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
  }

  .appFooter {
    flex: 0 0 auto;
  }
}
